
<div class="myGraphs" nowrap>
  <br>

  <div class="multi-graph margin">
    <p style="color: black">PZ</p>
    <div class="graph" data-name="Software Design"
         style="--percentage : 80; --fill: #0669AD ;">
    </div>
    <div class="graph" data-name="Intelligent System"
         style="--percentage : 60; --fill: #E62A39 ;">
    </div>
    <div class="graph" data-name="HPC Servers"
         style="--percentage : 30; --fill: #88019D ;">
    </div>
  </div>

  <div class="multi-graph margin">
    <p style="color: black">CS</p>
    <div class="graph" data-name="Software Design"
         style="--percentage : 84; --fill: #0669AD ;">
    </div>
    <div class="graph" data-name="HPC Servers"
         style="--percentage : 55; --fill: #88019D ;">
    </div>
    <div class="graph" data-name="Intelligent System"
         style="--percentage : 30; --fill: #E62A39 ;">
    </div>
    <div class="graph" data-name="Computer Network"
         style="--percentage : 15; --fill: #019D5D ;">
    </div>
  </div>

  <div class="multi-graph margin">
    <p style="color: black">ISM</p>
    <div class="graph" data-name="Software Design"
         style="--percentage : 45; --fill: #0669AD ;">
    </div>
    <div class="graph" data-name="Intelligent System"
         style="--percentage : 28; --fill: #E62A39 ;">
    </div>
    <div class="graph" data-name="HPC Servers"
         style="--percentage : 18; --fill: #88019D ;">
    </div>
  </div>
  <br>

</div>


