<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-heading">Instruction</h3>
        <h3 class="section-subheading text-muted">Here is some instructions about using our service: </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="https://findicons.com/files/icons/2458/blawb/128/settings_128x128_32.png" alt="">
<!--              <i class="ti-bar-chart"></i>-->

            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Room Inventory</h4>
                <h4 class="subheading">Computer List</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Here, on the web-page you can see some amount of available computers. There are technique of your study room! Each computer has it's own characteristics.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="https://findicons.com/files/icons/2458/blawb/128/settings_128x128_32.png" alt="123">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Computer is broken</h4>
                <h4 class="subheading">Report a problem</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">If some of university`s computer has been broken, you have to inform the administrator immediately about the situation! So you should press "Reprot a problem" button and describe the situation</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="https://findicons.com/files/icons/2458/blawb/128/settings_128x128_32.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">Wait for the administrator</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Do not touch the inventory and don't try to fix it by yourself! If you need to go, you can lock the room and go away.</p>
              </div>
            </div>
          </li>
<!--          <li class="timeline-inverted">-->
<!--            <div class="timeline-image">-->
<!--              <img class="img-circle img-responsive" src="https://findicons.com/files/icons/2458/blawb/128/settings_128x128_32.png" alt="">-->
<!--            </div>-->
<!--            <div class="timeline-panel">-->
<!--              <div class="timeline-heading">-->
<!--                <h4>July 2014</h4>-->
<!--                <h4 class="subheading">Phase Two Expansion</h4>-->
<!--              </div>-->
<!--              <div class="timeline-body">-->
<!--                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </li>-->
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>We will
                <br>repair it
                <br>immediately!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
