<section class="serv">
  <h3>Our Departments</h3>
  <p class="section-lead">The training of highly qualified specialists for the current and future needs of society is provided by three graduating departments:</p>
  <div class="services-grid">
    <div class="service service1">
      <i class="ti-bar-chart"></i>
      <h4>Software Development</h4>
      <p>Acquisition of knowledge, skills and practical skills related to the analysis and formulation of requirements, creation, maintenance and quality assurance of software..</p>
<!--      <a href="#" class="cta">Read More <span class="ti-angle-right"></span></a>-->
    </div>

    <div class="service service2">
      <i class="ti-light-bulb"></i>
      <h4>Computer Science Department</h4>
      <p>Development and research of smart enterprise systems, smart home, smart city, smart grids, etc. Use of methods of computational intelligence in mobile robotic systems and augmented reality systems.</p>
<!--      <a href="#" class="cta">Read More <span class="ti-angle-right"></span> </a>-->
    </div>

    <div class="service service3">
      <i class="ti-reload"></i>
      <h4>Information Systems and Networks</h4>
      <p>Acquisition of theoretical and practical knowledge, skills and understanding of information systems and technologies (ICT), which contribute to the social stability and mobility of graduates in the labor market.</p>
<!--      <a href="#" class="cta">Read more <span class="ti-angle-right"></span></a>-->
    </div>
  </div>
</section>
